@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my First page</h1>
    <p>For More Connection watching <a href="https://github.com/amirhoseindamavandi-Adept"> </a> My GitHub</p>
</div>
